@model IEnumerable<GoldenGateShop.Web.Areas.Administration.ViewModels.Categories.CategoriesViewModel>

@{
    ViewBag.Title = "Products";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">@this.ViewBag.Title</h2>
        </div>

        @{Html.RenderAction("Menu", "HomeAdmin");}

        <div class="col-md-9">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        View
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="/Categories/@item.Name">
                                Go
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        app.activateMenu('@this.ViewBag.SubLocation');
    </script>
}
